* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: black;
}

#searchWeather {
    margin: 10px;
}

#searchWeatherInput {
    width: 40vw;
    height: 8vh;
    padding: 2px 5px;
    border-radius: 5px;
    border: 2px solid black;
    font-size: 3vh;
}

[class*="Container"] {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-size: cover;
    backdrop-filter: blur(1px);
}

#mainInfo {
    height: 30vh;
    width: 40vw;
    border: 1px solid black;
    color: white;
    font-size: 2rem;
    font-weight: bold;
    text-shadow: 1px 1px 2px black;
    
}


[id*="Icon"] {
  filter: drop-shadow(2px 2px 1px rgba(0,0,0,1));
}

#hourlyInfo {
    display: flex;
    margin: 5px;
    width: 80vw;
    overflow-x: scroll;
    scrollbar-color: grey black;
    scrollbar-width: thin;
}

.hourCard {
    border: 1px black solid;
    border-radius: 5px;
    display: flex;
    flex-shrink: 0;
    flex-direction: column;
    align-items: center;
    width: 10vw;
    height: 10vh;
    background-size: cover;
    color: white;
    font-weight: bold;
    text-shadow: 1px 1px 2px black;
    font-size: 1rem;
}

#weeklyInfo {
    display: flex;
    
}

.weekCard {
    border: 1px black solid;
    border-radius: 5px;
    display: flex;
    flex-shrink: 0;
    flex-direction: column;
    align-items: center;
    width: 6vw;
    height: 10vh;
    background-size: cover;
    color: white;
    font-weight: bold;
    text-shadow: 1px 1px 2px black;
    font-size: 1rem;
}