* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#searchWeather {
    margin: 10px;
}

#searchWeatherInput {
    width: 40vw;
    height: 8vh;
    padding: 2px 5px;
    border-radius: 5px;
    border: 2px solid black;
    font-size: 3vh;
}

.mainCard {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#hourlyInfo {
    display: flex;
    margin: 5px;
}

.hourCard {
    border: 1px black solid;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 4vw;
}

#weeklyInfo {
    display: flex;
    
}

.weekCard {
    border: 1px black solid;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
}