* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#searchWeather {
    margin: 10px;
}

#searchWeatherInput {
    width: 40vw;
    height: 8vh;
    padding: 2px 5px;
    border-radius: 5px;
    border: 2px solid black;
    font-size: 3vh;
}

#mainInfo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 30vh;
    width: 40vw;
    border: 1px solid black;
    color: white;
    font-size: 2rem;
    font-weight: bold;
    text-shadow: 1px 1px 2px black;
    background-size: cover;
}

#hourlyInfo {
    display: flex;
    margin: 5px;
}

.hourCard {
    border: 1px black solid;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 3vw;
    background-size: cover;
    color: white;
    font-weight: bold;
    text-shadow: 1px 1px 2px black;
    font-size: 1rem;
}

#weeklyInfo {
    display: flex;
    
}

.weekCard {
    border: 1px black solid;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 5vw;
    background-size: cover;
    color: white;
    font-weight: bold;
    text-shadow: 1px 1px 2px black;
    font-size: 1rem;
}